# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env             # Local environment variables
.env.local       # Local environment variables (specific to frameworks like Next.js)
.env.*.local     # Local environment variables for different stages

# Dependency directories
.next/        # Specific for Next.js projects (if you're using Next.js with React)
build/        # Another common build output directory
out/          # Common static export output (for Next.js static sites)

# TypeScript specific
*.tsbuildinfo # TypeScript build info files